.all-casos {
  width: 100%;
  height: auto;
}
.all-casos .title-all-casos {
  text-align: center;
  color: #2e2e2e;
  font-size: 1.5em;
  margin: 10px auto;
}
.container-all-casos {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 35px;
}
.item-all-casos {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.7);
  padding: 20px;
}
.sub-item-all-casos h2 {
  color: #2e2e2e;
}
.sub-item-all-casos p {
  color: #2e2e2e;
}
.sub-item-all-casos img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .container-all-casos {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
  }
  .item-all-casos {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .all-casos .title-all-casos {
    text-align: center;
    color: #2e2e2e;
    font-size: 1.5em;
    margin: 10px auto;
  }
  .sub-item-all-casos h2 {
    color: #2e2e2e;
  }
  .sub-item-all-casos p {
    color: #2e2e2e;
  }
}
