.tel-fixed {
  width: 60px;
  height: 60px;
  right: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 99;
}
.tel {
  bottom: 30px;
}
.whats {
  bottom: 110px;
}
.container-fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tel-fixed img {
  width: 100%;
}
.animado { /*Animación para aparecer y desaparecer el botón*/
  opacity: 0;
  transition: all 0.5s;
}
@media screen and (min-width: 768px) {
  .urgencias-fixed {
    width: 70px;
    bottom: 20px;
    right: 20px;
  }
  .tel-fixed  {
    width: 70px;
    height: 70px;
    right: 20px;
  }
  .tel {
    bottom: 40px;
  }
  .whats {
    bottom: 130px;
  }
  .urgencias-fixed img {
    width: 40px;
  }
  .txt-urgencia {
    right: 55px;
    bottom: 115px;
    font-size: 18px;
  }
  @keyframes urgencias {
    0% {
      right: -60px;
      transform: scale(0);
    }
    50% {
      right: 60px;
      transform: scale(1);
    }
    100% {
      right: -60px;
      transform: scale(0);
    }
  }
}
