.services {
  width: 100%;
  background-color: black;
  padding-bottom: 20px;
  overflow-x: hidden;
}
.services h2 {
  color: #fff;
  font-size: 2em;
  text-align: center;
  font-weight: 600;
  padding-top: 15px;
}
.container-services {
  width: 90%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  text-align: center;
}
.item-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 20px;
  gap: 12px;
}
.item-services img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.item-services h2 {
  font-size: 1.3em;
  font-weight: 500;
  color: #2e2e2e;
  padding-top: 0px;
}
.item-services a {
  background-color: #797575;
  width: 170px;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.modal-services-home {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.7s;
}
.modal-services-home.openModal {
  transform: scale(1);
  transition: 0.7s;
}
.modal-services-home i {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
  font-size: 35px;
}
.container-modal-services {
  width: 90%;
  background-color: #fff;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.container-modal-services img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.container-modal-services h2 {
  color: #2e2e2e;
  font-size: 1.4em;
  padding: 0;
  margin: 12px;
}
.container-modal-services p {
  font-weight: 400;
  text-align: justify;
  font-size: 0.9em;
}
.modal-services-home a {
  background-color: #2e2e2e !important;
  display: block;
  margin: auto;
  width: 200px;
  color: #fff !important;
  text-decoration: none;
  font-size: 1.1em;
}
.services a {
  display: block;
  margin: 20px auto;
  text-align: center;
  background-color: #fff;
  color: #2e2e2e;
  width: 200px;
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
}
.item-services button {
  background-color: #2e2e2e;
  padding: 8px 18px;
  color: #fff;
  text-align: center;
  font-size: 1.1em;
  border: none;
}
@media (min-width: 768px) {
  .services {
    width: 100%;
    background-color: black;
    padding-bottom: 20px;
    overflow-x: hidden;
  }
  .services h2 {
    color: #fff;
    font-size: 2.8em;
    text-align: center;
    font-weight: 600;
    padding-top: 15px;
  }
  .container-services {
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    text-align: center;
  }
  .item-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 20px;
    gap: 12px;
    transition: 0.7s all;
  }
  .item-services:hover {
    transform: scale(0.9);
    transition: 0.7s all;
  }
  .item-services:hover a {
    background-color: black;
  }
  .item-services img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .item-services h2 {
    font-size: 1.5em;
    font-weight: 500;
    color: #2e2e2e;
    padding-top: 0px;
  }
  .item-services a {
    background-color: #797575;
    width: 170px;
    padding: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: 0.7s all;
  }
  .services a {
    display: block;
    margin: auto;
    text-align: center;
    background-color: #fff;
    color: #2e2e2e;
    width: 300px;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4em;
  }
  .item-services button {
    background-color: #2e2e2e;
    padding: 8px 25px;
    color: #fff;
    text-align: center;
    font-size: 1.4em;
    border: none;
  }
  .container-modal-services {
    width: 40%;
    background-color: #fff;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .container-modal-services img {
    width: 110px;
    height: 110px;
    object-fit: cover;
  }
  .container-modal-services h2 {
    color: #2e2e2e;
    font-size: 1.7em;
    padding: 0;
    margin: 12px;
  }
  .container-modal-services p {
    font-weight: 400;
    text-align: justify;
    font-size: 1.1em;
  }
}
